<aside>
	<div class="panel radius">
	<h3>Mindful Modeler</h3>
		<p>The goal of <i>Mindful Modeler</i> is to apply a range of modeling and simulation techniques to real-world problems. This site provides coding tips, tutorials, and policy perspectives to a wide range of complex global challenges.</p>
	</div>

	<div class="border-dotted radius b30">
		<h4>More Posts</h4>
  		<p> {% include list-posts entries='5' tag='article' %}</p>
	</div>

  	<!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>